@charset "utf-8";
	.NormalCharacterStyle26
{
	font-family : Noto Sans;
	font-weight : bold;
	font-size : 27px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle27
{
	font-family : Source Sans Pro;
	font-size : 44px;
	line-height : 39.81px;
	color : #105A95;
	color : rgb(16, 90, 149);
}
.NormalCharacterStyle
{
	font-family : Source Sans Pro;
	font-size : 31px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle1
{
	font-family : Source Sans Pro;
	font-weight : bold;
	font-size : 98px;
	line-height : 93px;
	color : #155A95;
	color : rgb(21, 90, 149);
}
.NormalCharacterStyle3
{
	font-family : Source Sans Pro;
	font-weight : bold;
	font-size : 98px;
	line-height : 93px;
	color : #155A95;
	color : rgb(21, 90, 149);
}
.NormalCharacterStyle2
{
	font-family : Source Sans Pro;
	font-size : 31px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle6
{
	font-family : Source Sans Pro;
	font-size : 39px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle5
{
	font-family : Source Sans Pro;
	font-size : 140px;
	line-height : 139px;
	color : #155A95;
	color : rgb(21, 90, 149);
}
.NormalCharacterStyle4
{
	font-family : Source Sans Pro;
	font-size : 37px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle9
{
	font-family : Source Sans Pro;
	font-size : 43px;
	color : #155A95;
	color : rgb(21, 90, 149);
}
.NormalCharacterStyle8
{
	font-family : Source Sans Pro;
	font-size : 39px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle7
{
	font-family : Source Sans Pro;
	font-size : 39px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle12
{
	font-family : Source Sans Pro;
	font-size : 33px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle11
{
	font-family : Source Sans Pro;
	font-size : 43px;
	color : #155A95;
	color : rgb(21, 90, 149);
}
.NormalCharacterStyle10
{
	font-family : Source Sans Pro;
	font-size : 43px;
	color : #155A95;
	color : rgb(21, 90, 149);
}
.NormalCharacterStyle14
{
	font-family : Source Sans Pro;
	font-size : 33px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle13
{
	font-family : Source Sans Pro;
	font-size : 33px;
}
.NormalCharacterStyle17
{
	font-family : Source Sans Pro;
	font-size : 59px;
	color : #155A95;
	color : rgb(21, 90, 149);
}
.NormalCharacterStyle16
{
	font-family : Source Sans Pro;
	font-size : 59px;
	color : #155A95;
	color : rgb(21, 90, 149);
}
.NormalCharacterStyle15
{
	font-family : Source Sans Pro;
	font-size : 59px;
	color : #155A95;
	color : rgb(21, 90, 149);
}
.NormalCharacterStyle18
{
	font-family : Source Sans Pro;
	font-size : 31px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle19
{
	font-family : Source Sans Pro;
	font-weight : bold;
	font-size : 98px;
	line-height : 93px;
	color : #155A95;
	color : rgb(21, 90, 149);
}
.NormalCharacterStyle20
{
	font-family : Noto Sans;
	font-weight : bold;
	font-size : 27px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle22
{
	font-family : Noto Sans;
	font-weight : bold;
	font-size : 27px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle21
{
	font-family : Source Sans Pro;
	font-size : 44px;
	line-height : 39.81px;
	color : #105A95;
	color : rgb(16, 90, 149);
}
.NormalCharacterStyle24
{
	font-family : Noto Sans;
	font-weight : bold;
	font-size : 27px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle23
{
	font-family : Source Sans Pro;
	font-size : 44px;
	line-height : 39.81px;
	color : #105A95;
	color : rgb(16, 90, 149);
}
.NormalCharacterStyle25
{
	font-family : Source Sans Pro;
	font-size : 44px;
	line-height : 39.81px;
	color : #105A95;
	color : rgb(16, 90, 149);
}
