.fas {
    color: transparent;
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    /* background-image: linear-gradient(-29deg,#6c5b7b,#c06c84)!important; */
    background-image: linear-gradient(-29deg, #159957, #155799) !important;
}

.far {
    color: transparent;
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    /* background-image: linear-gradient(-29deg,#6c5b7b,#c06c84)!important; */
    background-image: linear-gradient(-29deg, #159957, #155799) !important;
}

.ico-white {
    color: white;
}

.footer_wrap .social-wrap .social-btns-wrap .linkedin i {
    color: rgb(40, 103, 178);
    -webkit-text-fill-color: rgb(40, 103, 178) !important;
}

.footer_wrap .social-wrap .social-btns-wrap .social-btn.linkedin:before {
    background-color: rgb(40, 103, 178);
}

.footer_wrap .social-wrap .social-btns-wrap .insta i {
    color: black;
    font-weight: 700;
    -webkit-text-fill-color: black;
}

.footer_wrap .social-wrap .social-btns-wrap .social-btn.insta:before {
    /* background-color: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d); */
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

.intro-wrap:after {
    content: "";
    display: block;
    background: url(./assets/images/landing/Bg/Bg_03.png) bottom no-repeat;
    background-size: cover;
    bottom: -8px;
}